body {
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
}

/* Smooth scrolling for all browsers */
html {
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Navbar styling */
.navbar {
    padding: 1rem 1rem;
    background-color: #7289ff;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

/* Contact Information Styling */
.contact-info {
    font-size: 17px;
    margin-left: 220px;
    font-weight: 600;
    color: #ffffff;
    transition: transform 0.3s, color 0.3s;
}

.contact-info i {
    font-size: 19px;
    color: #ffffff;
    margin-right: 10px;
    transition: transform 0.3s, color 0.3s;
}

/* Contact info hover effect */
.contact-info:hover {
    transform: scale(1.05);
    color: #d3e1ff;
}

.contact-info i:hover {
    transform: scale(1.2);
    color: #d3e1ff;
}

/* Custom Styles */
.info-navbar {
    background-color: #ffffff;
}

/* Navbar logo styling */
.info-navbar .navbar-brand img {
    width: 200px;
    height: 45px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Hover effect for logo */
.info-navbar .navbar-brand img:hover {
    transform: scale(1.1);
    /* Slightly enlarge the image */
    opacity: 0.9;
    /* Slightly fade the image for a smooth effect */
}

.navbar-nav {
    text-align: center;
}

.nav-item {
    padding: 0px 45px;
    margin-left: 30px;
}

.nav-link {
    color: #000000 !important;
    font-size: 17px;
    font-weight: 600;
    transition: color 0.3s, transform 0.3s;
}

/* Navbar link hover effect */
.nav-link:hover {
    color: #3c52c3 !important;
    transform: scale(1.1);
}

.searchBox {
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.searchInput {
    border: none;
    background: rgb(255, 255, 255);
    outline: none;
    color: #000000;
    font-size: 16px;
    line-height: 1.6;
    width: 0;
    padding: 0;
    transition: width 0.4s ease, padding 0.4s ease;
    border-radius: 10px;
}

.searchInput:focus {
    width: 280px;
    padding: 0 10px;
    border-radius: 10px;
}

.searchButton {
    color: #3c52c3 !important;
    width: 45px;
    height: 45px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.4s ease;
    border: none;
}

.searchButton:hover {
    background: rgb(255, 255, 255);
    color: #3c52c3 !important;
}

.searchBox:hover .searchInput {
    width: 290px;
    height: 40px;
    border-radius: 10px;
}

@media screen and (max-width: 620px) {
    h1 {
        font-size: 1rem;
        text-align: center;
    }

    .searchBox:hover .searchInput {
        width: 200px;
        padding: 0 10px;
    }
}

/* FOOTER */
footer h5 {
    color: #000000 !important;
    font-weight: 600;
}

footer h5:hover {
    color: rgb(0, 0, 0);
}

footer p {
    color: #000000 !important;
    font-weight: 600;
}

footer p:hover {
    color: rgb(47, 38, 163);
}

footer .fab {
    font-size: 1.8rem;
    transition: color 0.3s;
    color: rgb(0, 0, 0) !important;
}

footer .fab:hover {
    color: rgb(75, 67, 194);
}

footer {
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgb(241, 240, 255) !important;
}

/* Centering footer columns in a row */
footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}

/* Responsive Styles for smaller devices */
@media (max-width: 768px) {
    footer .row {
        text-align: center;
    }

    footer .col-md-3 {
        margin-bottom: 15px;
    }

    /* Make the columns stack vertically in small screens */
    footer .col-md-3 {
        flex: 1 1 100%;
    }
}

/* WHATSAPP, CALL BUTTONS */

.fixed-buttons {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-whatsapp-pulse {
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    text-decoration: none;
    border-radius: 50%;
    position: relative;
    animation: pulse 1.5s ease-out infinite;
    transition: transform 0.3s ease-in-out;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-whatsapp-pulse:hover {
    transform: scale(1.1);
}

.btn-whatsapp-pulse i {
    font-size: 22px;
}

.whatsapp-button {
    background: #25d366;
    border: 2px solid white;
}

.call-button {
    background: #0f3f64;
    border: 2px solid white;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
    }

    80% {
        box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
    }
}

.carousel-item {
    position: relative;
}

.carousel-item img {
    object-fit: cover;
    height: 80vh;
    width: 100%;
}

.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity as needed */
    z-index: 1;
    /* Ensures the overlay is on top of the image */
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Ensures the caption is on top of the overlay */
    color: white;
}

.overlay-heading {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.overlay-text {
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#about-us {
    background-color: #ffffff;
    margin: 55px;
}

#about-us h2 {
    font-size: 2.5rem;
    font-weight: 1000;
    color: #5e3ee1;
}

#about-us p {
    font-size: 1.1rem;
    color: #000000;
    line-height: 1.6;
    text-justify: center;
}

#about-us .img-fluid {
    border-radius: 10px;
    height: 340px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

/* Initial state of the elements, hidden and faded */
.fade-up {
    opacity: 0;
    transform: translateY(50px);
    /* Start from below */
    transition: opacity 0.5s ease, transform 0.5s ease;
    /* Add transition */
}

/* Final state of the elements, visible and on place */
.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
    /* Move to original position */
}

/* Optional: Add a smooth animation for the fade-up effect when the elements are in the viewport */
@media (max-width: 768px) {
    .fade-up {
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
}

/* Modify existing styles if necessary */
.service-card {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

/* Adding transition to card images */
.service-card .card-img-overlay {
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.service-card:hover .card-img-overlay {
    opacity: 1;
}

.service-card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.service-card .card-title {
    font-size: 1rem;
    font-weight: bolder;
}

.row-cols-custom-7>* {
    flex: 0 0 calc(100% / 7);
    max-width: calc(100% / 7);
}

.row-cols-custom-6>* {
    flex: 0 0 calc(100% / 6);
    max-width: calc(100% / 6);
}

@media (max-width: 768px) {

    .row-cols-custom-7>*,
    .row-cols-custom-6>* {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Keyframe for fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.why-container .row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin: 75px;
}

.why-container .col-md-6 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-container .image-container {
    width: 500px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.why-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.why-container p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #000000;
    margin: 0;
    padding: 15px;
    text-justify: center;
}

/* Styling for the form container */
.custom-form {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    height: 420px;
    /* Adjust the overall height of the form */
}

/* Styling for input fields and textarea */
.custom-input {
    height: 65px;
    /* Increases height for input fields */
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.custom-input:focus {
    border-color: #0044ff;
    box-shadow: 0 0 5px rgba(0, 68, 255, 0.5);
}

/* Textarea specific height adjustment */
textarea.custom-input {
    height: 150px;
    /* Increase the textarea height */
    resize: none;
}

/* Button styling */
button {
    background-color: #0044ff;
    border: none;
    font-size: 1rem;
    padding: 10px;
    height: 50px;
}

button:hover {
    background-color: #0033cc;
}

.projects-section {
    background-color: #f8f9fa;
}

.project-card {
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.project-card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.project-card:hover .project-card-img {
    opacity: 0.8;
}

.project-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-card:hover .project-card-overlay {
    opacity: 1;
}

.project-card-overlay h5 {
    margin: 0;
    font-size: 18px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.bank-slider-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.bank-slider {
    display: flex;
    animation: scroll-right-to-left 20s linear infinite;
}

.bank-slide {
    display: flex;
}

.bank-slide img {
    width: 300px;
    /* Adjust the width as needed */
    height: 200px;
    /* Adjust the height as needed */
    margin: 20px;
    /* Space between images */
}

/* Smooth sliding effect from right to left */
@keyframes scroll-right-to-left {
    0% {
        transform: translateX(100%);
        /* Start from the right */
    }

    100% {
        transform: translateX(-100%);
        /* End at the left */
    }
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .bank-slide img {
        width: 150px;
        margin: 20px;
        height: 150px;
    }
}